/* ========== FONT ========== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@keyframes girar {
  0% {
		width:0.1rem;
	}
	100% {
		width:10rem;
	}
}

/* ========== RESET CSS ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* ========== MENU ========== */
.nav {
  display: flex;
  background: #151414;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.nav h1 {
  color: blue;
  font-size: 1.875rem;
  margin: 0.625rem;
}

.nav .link {
  position: relative;
  flex: 1;
  line-height: 4rem;
}

.nav .link a {
  position: relative;
  color: #f5f5f5;
  text-decoration: none;
  z-index: 2;
}

.nav .link:before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  background: rgb(255, 0, 242);
  z-index: -1;
  transition: all 300ms ease-in-out;
}

.link:after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  background: rgb(0, 26, 255);
  transition: all 300ms ease-in-out;
}

.nav .link:hover {
  cursor: pointer;
}

.nav .link:hover:before {
  height: 100%;
  filter: blur(30px);
}

.nav .link:hover:after {
  height: 100%;
}

/* ========== MAIN ========== */
body {
  line-height: 1.5;
  background-image: url(/images/fundo\ 2.jpg);
  background-size: cover;
}

.container {
  max-width: 81.25rem;
  margin: 0 auto;
}

.layout {
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 1.25rem;
  padding: 1rem;
}

/* ========== LADO ESQUERDO ========== */
img {
  width: 100%;
  display: block;
  border-radius: 4%;
  z-index: 1;
}


.img-main:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}




.imgs-secundary {
  display: flex;
}

.img-item {
  margin: 0.5rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

/* ========== LADO DIREITO ========== */

.product-right {
  padding: 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}

.product-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.25rem;
  width: 5rem;
  background: #12263a;
  animation: girar 2s linear infinite;
}

.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #252525;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price span {
  font-weight: 400;
}

.last-price span {
  color: #f64749;
  text-decoration: line-through;
}

.new-price span {
  color: #256eff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}

.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(/images/checked.png) left center no-repeat;
  background-size: 1.125rem;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info .btn {
  border: 0.094rem solid #ddd;
  border-radius: 1.563rem;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:first-of-type {
  background: #256eff;
}

.purchase-info .btn:last-of-type {
  background: #f64749;
}

.purchase-info .btn:hover {
  opacity: 0.9;
}

@media screen and (min-width: 992px) {
  .layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-left {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .product-rigjt {
    padding-top: 0;
  }
}